<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Paciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Paciente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="paciente.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input type="number" [(ngModel)]="paciente.edad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input [(ngModel)]="paciente.direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input [(ngModel)]="paciente.telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="paciente.email"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="agregarPaciente()">Agregar Paciente</ion-button>
</ion-content>
