<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Agregar cita</ion-card-title>
      <div *ngIf="mensaje" class="mensaje-exito">{{ mensaje }}</div>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="floating">ID</ion-label>
        <ion-input [(ngModel)]="cita.id"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Paciente</ion-label>
        <ion-input [(ngModel)]="cita.pacienteId"></ion-input>
      </ion-item>
      <!---->
      <ion-item>
        <ion-label position="floating">Especialidad</ion-label>
        <ion-select placeholder="Especialidad" [(ngModel)]="cita.especialidad" (ngModelChange)="buscarDoctorPorEspecialidad(cita.especialidad)">
          <!--En el ion-select, se ha agregado el evento (ionChange) para llamar al método
            loadDoctorsBySpecialty() cada vez que se selecciona una especialidad.
            Esto asegura que se carguen y muestren los doctores correspondientes
            a la especialidad seleccionada.-->
          <ion-select-option *ngFor="let especialidad of especialidades" [value]="especialidad.nombre" >
            {{ especialidad.nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Mensaje de resultado de búsqueda -->
      <div *ngIf="doctors.length === 0 && mensaje">
        {{ mensaje }}
      </div>
      <!-- Doctores encontrados -->
      <ion-item>
        <ion-label position="floating">Doctor</ion-label>
        <ion-select [(ngModel)]="cita.doctorId">
          <ion-select-option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>



      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-datetime
          displayFormat="DD/MM/YYYY HH:mm"
          [(ngModel)]="cita.fecha"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Motivo</ion-label>
        <ion-input type="email" [(ngModel)]="cita.motivo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-select multiple [(ngModel)]="cita.estado">
            <ion-select-option value="confirmada">Confirmada</ion-select-option>
            <ion-select-option value="cancelada">Cancelada</ion-select-option>
            <ion-select-option value="pendiente">Pendiente</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-item>

      <ion-item>
        <ion-label position="floating">Comentario</ion-label>
        <ion-input type="email" [(ngModel)]="cita.comentario"></ion-input>
      </ion-item>

    </ion-card-content>

    <ion-button expand="full" (click)="agregarCita()">Agregar Cita</ion-button>

  </ion-card>



  <ion-card>

    <ion-card-header>
      <ion-card-title>Buscar Cita</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID</ion-label>
        <ion-input [(ngModel)]="idBuscar"></ion-input></ion-item>
      <ion-button expand="full" (click)="buscarCitaPorID(idBuscar)"
        >Buscar</ion-button
      >
    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="citasEncontradas.length > 0">
    <ion-card-header>
      <ion-card-title>Citass Encontrados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let cita of citasEncontradas">
          <ion-label>{{ cita.id }}</ion-label>
          <ion-button slot="end" (click)="seleccionarCita(cita)"
            >Seleccionar</ion-button
          >
          <ion-button slot="end" color="danger" (click)="borrarCita(cita.id)"
            >Borrar</ion-button
          >
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="citaSeleccionada">
    <ion-card-header>
      <ion-card-title>Modificar Cita</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">ID</ion-label>
        <ion-input [(ngModel)]="citaSeleccionada.id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">pacienteId</ion-label>
        <ion-input [(ngModel)]="citaSeleccionada.pacienteId"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">doctorId</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="citaSeleccionada.doctorId"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">especialidad</ion-label>
        <ion-input [(ngModel)]="citaSeleccionada.especialidad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">fecha</ion-label>
        <ion-input [(ngModel)]="citaSeleccionada.fecha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">motivo</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="citaSeleccionada.motivo"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">estado</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="citaSeleccionada.estado"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">comentario</ion-label>
        <ion-input
          type="email"
          [(ngModel)]="citaSeleccionada.comentario"
        ></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button expand="full" (click)="modificarCita()"
      >Modificar Cita</ion-button
    >
  </ion-card>
</ion-content>
