<ion-header>
  <ion-toolbar>
    <!-- Boton menú lateral -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Kanit', sans-serif; font-weight: 400">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="search-bar-container">
    <ion-searchbar [(ngModel)]="pacienteId" (ionChange)="buscarCitasPorPacienteID()"
      placeholder="Escriba el DNI del paciente"></ion-searchbar>
  </div>

  <div class="citas-container" *ngIf="citasPaciente.length > 0">
    <ion-list>
      <ion-item *ngFor="let cita of citasPaciente">
        <ion-label>
          <h2>{{ cita.fecha | date }}</h2>
          <p>Hora: {{ cita.hora }}</p>
          <p>Motivo: {{ cita.motivo }}</p>
          <p>Estado: {{ cita.estado }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="no-citas" *ngIf="citasPaciente.length === 0">
    <p>No tienes citas programadas.</p>
  </div>
</ion-content>
