<ion-header>
  <ion-toolbar>
    <!-- Boton menú lateral -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Kanit', sans-serif; font-weight: 400">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="search-bar-container" *ngIf="usuarioRol === 'MEDICO'">
    <!-- Código para médico -->
    <ion-searchbar [(ngModel)]="pacienteId" (ionChange)="buscarCitasPorPacienteID()" placeholder="Escriba el DNI del paciente"></ion-searchbar>
    <ion-button shape="round" (click)="buscarCitasPorPacienteID()">Buscar Citas</ion-button>
  </div>

  <div class="search-bar-container" *ngIf="usuarioRol === 'PACIENTE'">
    <!-- Código para paciente -->
    <p>DNI Usuario Actual: {{ dniUsuarioActual }}</p>
  </div>

  <div class="citas-container" *ngIf="citasPaciente.length > 0 || usuarioRol === 'PACIENTE' || usuarioRol === 'MEDICO'">
    <ion-list>
      <ion-button shape="round" fill="outline" (click)="ordenarCitasPorEstado()">Ordenar por Estado</ion-button>
      <ion-item *ngFor="let cita of citasPaciente" class="custom-item">
        <ion-label [ngStyle]="{ 'margin-right': '10px' }">
          <h1>Cita: {{ cita.especialidad }}</h1>
          <h2>Fecha:{{ cita.fecha | date }}</h2>
          <p>Hora: {{ cita.hora }}</p>
          <p>Motivo: {{ cita.motivo }}</p>
          <p>Estado: {{ cita.estado }}</p>
          <ion-item [ngStyle]="{ 'width': '260px' }">
      <ion-label class="custom-label" [ngStyle]="{ 'background-color': getColorByEstado(cita.estado), 'margin-right': '10px' }">Estado: {{ cita.estado }}</ion-label>
      </ion-item>
    </ion-label>
        </ion-item>
    </ion-list>
  </div>

<!--areglar boton de ordenar que no se vea en doctor si no hay resultados-->
  
</ion-content>
