<ion-header>
  <ion-toolbar>
  <!-- Boton menú lateral -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Doctores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Especialidad</ion-label>
          <ion-input type="text" [(ngModel)]="especialidadBusqueda"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="full" (click)="buscarDoctorPorEspecialidad(especialidadBusqueda)">Buscar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item *ngFor="let doctor of doctores">
          <ion-label>{{ doctor.name }}</ion-label>
          <ion-buttons slot="end">
            <ion-button color="secondary" (click)="seleccionarDoctor(doctor)">Seleccionar</ion-button>
            <ion-button color="danger" (click)="borrarDoctor(doctor.id)">Borrar</ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">DNI</ion-label>
          <ion-input type="text" [(ngModel)]="dni"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Especialidad</ion-label>
          <ion-input type="text" [(ngModel)]="specialty"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="full" (click)="agregarDoctor()">Agregar</ion-button>
        <ion-button expand="full" (click)="modificarDoctor()" [disabled]="!doctorSeleccionado">Modificar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item *ngIf="mensaje">
          <ion-label>{{ mensaje }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
