
.header-buttons {
  margin-top: 10px;
}


.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #006195;
}

.card-container {
  width: 50%;
  margin: 0 auto;
}
.custom-card {
  height: auto;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-toolbar {
  --background: linear-gradient(to right, #002f6c, #0055b3, #002f6c);
  --ion-color-base: #ffffff;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.logo-image {
  max-width: 200px;
}

.description {
  text-align: center;
  margin-top: 30px;
  color: black;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

ion-button {
  margin-bottom: 10px;
}
