
<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-title class="app-title">Clínica SAFA</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="landing-content">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo de la Clínica SAFA" class="logo-image">
  </div>
  <div class="description">
    <h2>Bienvenido a Clínica SAFA</h2>
    <p>Tu salud en buenas manos.</p>
  </div>
  <div class="buttons-container">
    <ion-button expand="block" color="primary" routerLink="/login">Iniciar sesión</ion-button>
    <ion-button expand="block" color="secondary" routerLink="/register">Registrarse</ion-button>
  </div>
</ion-content>
