<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Clínica SAFA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="welcome-message">
    <h1>Bienvenido a Clínica SAFA</h1>
    <p>Estamos aquí para cuidar de ti. Desde nuestros médicos altamente capacitados hasta nuestras instalaciones de última generación, nos enorgullece ofrecer el mejor cuidado de salud posible.</p>
  </div>

  <div class="card-container">
    <ion-card (click)="navigateToCitas()">
      <ion-card-header>
        <ion-card-title>Solicitar cita</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        ¿Necesitas programar una cita con nosotros? Haga clic aquí para comenzar.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Mis citas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        ¿Ya tiene una cita con nosotros? Vea su historial de citas y configure recordatorios aquí.
      </ion-card-content>
    </ion-card>
    
    <ion-card (click)="navigateToPacientes()">
      <ion-card-header>
        <ion-card-title>Pacientes</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        ¿Desea acceder a la sección de pacientes? Haga clic aquí para ver la información relacionada con los pacientes.
      </ion-card-content>
    </ion-card>

    <ion-card (click)="navigateToContact()">
      <ion-card-header>
        <ion-card-title>Contáctanos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        ¿Tiene preguntas o inquietudes? Encuentra información de contacto y horarios de atención aquí.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
