<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/landing-page"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Kanit', sans-serif; font-weight: 400">Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="type === 'PACIENTE'">
    <ion-card-header>
      <ion-card-title>Datos del Paciente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="informative-text">Rellene el formulario con sus datos personales para poder registrarse en nuestra clínica</div>
      <ion-list>
        <form [formGroup]="formPaciente" (ngSubmit)="registerPaciente()">
          <ion-item lines="none">
            <ion-label position="floating">DNI</ion-label>
            <ion-input placeholder="000000000X" formControlName="dni"></ion-input>
          </ion-item>
          <ion-label 
          class="error-label" 
          *ngIf="formPaciente.controls['dni'].hasError('minlength') || 
          formPaciente.controls['dni'].hasError('maxlength')">
          El DNI debe tener una longitud de 9 caracteres.
        </ion-label>
        <ion-label class="error-label" 
            *ngIf="formPaciente.controls['dni'].hasError('dniExists')">
            El DNI ya existe.
          </ion-label>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input formControlName="apellidos"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Número de Seguridad Social</ion-label>
            <ion-input formControlName="nSeguridadSocial"></ion-input>
          </ion-item>
          <ion-item *ngIf="formPaciente.controls['nSeguridadSocial'].invalid && (formPaciente.controls['nSeguridadSocial'].dirty || formPaciente.controls['nSeguridadSocial'].touched)">
            <ion-label class="error-label" 
            *ngIf="formPaciente.controls['nSeguridadSocial'].hasError('minlength')">
            El número de Seguridad Social debe tener una longitud mínima de 6 caracteres.
          </ion-label>
          </ion-item>
          <ion-item>
            <ion-label label="Fixed label" labelPlacement="fixed">Fecha de nacimiento</ion-label>
            <ion-input type="date" formControlName="fechaNacimiento"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Dirección</ion-label>
            <ion-input formControlName="direccion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="tel" placeholder="+34-888-888-888" formControlName="telefono"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email de usuario</ion-label>
            <ion-input type="email" formControlName="email" placeholder="nombre_usuario@clinicasafa.com"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input type="password" formControlName="password" label="Contraseña" labelPlacement="floating" [counter]="true" maxlength="6"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-input type="password" formControlName="confirmPassword" label="Repita contraseña" labelPlacement="floating" [counter]="true" maxlength="6"></ion-input>
          </ion-item>
          <div class="error-message" *ngIf="formPaciente.invalid && (formPaciente.dirty || formPaciente.touched)">
            Todos los campos son obligatorios.
          </div>
          <ion-button expand="block" type="submit">Agregar Datos Paciente</ion-button>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="type === 'MEDICO'">
    <ion-card-header>
      <ion-card-title>Registro de nuevo doctor/a</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="informative-text">Rellene el formulario con sus datos personales para poder registrarse en nuestra clínica</div>
      <ion-list>
        <form [formGroup]="formMedico" (ngSubmit)="registerMedico()">
          <ion-item>
            <ion-label position="floating">DNI</ion-label>
            <ion-input placeholder="00000000X" formControlName="dni"></ion-input>
          </ion-item>
          <ion-label 
          class="error-label" 
          *ngIf="formMedico.controls['dni'].hasError('minlength') || 
          formPaciente.controls['dni'].hasError('maxlength')">
          El DNI debe tener una longitud de 9 caracteres.
        </ion-label>
        <ion-label class="error-label" 
            *ngIf="formMedico.controls['dni'].hasError('dniExists')">
            El DNI ya existe.
          </ion-label>
         
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input formControlName="apellidos"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Número de Colegiado</ion-label>
            <ion-input formControlName="nColegiado"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select placeholder="Especialidad" formControlName="especialidad">
              <ion-select-option *ngFor="let especialidad of especialidades" [value]="especialidad.nombre">
                {{ especialidad.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="tel" placeholder="+34-888-888-888" formControlName="telefono"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email de usuario</ion-label>
            <ion-input type="email" formControlName="email" placeholder="nombre_usuario@clinicasafa.com"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Repita contraseña</ion-label>
            <ion-input formControlName="confirmPassword"></ion-input>
          </ion-item>
          <div class="error-label" *ngIf="formMedico.invalid && (formMedico.dirty || formMedico.touched)">
            Todos los campos son obligatorios.
          </div>
          <ion-button expand="block" type="submit">Agregar Datos Doctor</ion-button>
        </form>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="type !== 'PACIENTE' && type !== 'MEDICO'">
    <ion-card-header>
      <ion-card-title>¿Qué tipo de Usuario eres?</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
